/* Regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center-block {
    width: 80%;
    margin: 15px auto;
}

/* Header */

h1 {
    color: rgb(234, 99, 121);
    font-family: 'Fredoka', sans-serif;
    text-align: center;
    margin-top: 20px;
}

/* Main */

p {
    text-align: center;
    font-family: 'Fredoka', sans-serif;    
}

img {
    float: left;
}